<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>$vAWF_BUNDLEID</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string><![CDATA[$vAUTHOR]]></string>
	<key>description</key>
	<string><![CDATA[$vDESCR]]></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string><![CDATA[$vNAME]]></string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>This element marks this workflow's info.plist unambiguously as an Alfred 2 workflow.</string>
				<key>title</key>
				<string>Dummy Element</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>676079E0-D95C-4D71-BD37-DBCDDCFE233B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>676079E0-D95C-4D71-BD37-DBCDDCFE233B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>$vHOMEPAGE</string>
</dict>
</plist>
