/*
 Homepage: $vHOMEPAGE
 Author:   $vAUTHOR
 Version:  See VERSION variable below.
*/

// Note that the 'v<version>' value is automatically updated by `make version VER=<newVer>` - DO keep the 'v' suffix in the variable _definition_.
var VERSION = 'v${vVERSION}';

console.error("I AM BUT A POOR STUB. PLEASE FLESH ME OUT.");
